body{
    background-image:url(picture/shark1.jpg); /*背景圖*/
    height: 100vh;
    background-size: 563px,558px;
    background-position:right bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin:0 auto;
}
.dropdown{/*導覽列*/
    font-family:"ink free", Microsoft JhengHei;
    font-size: 25px;
    color:white;
    list-style: none;
    padding-top: 20px;
}
form{
    padding-top:22px;
}
nav{
    font-family:"ink free", Microsoft JhengHei;
    font-size: 18px;
    padding-top: 0%;
    list-style: none;
}
h2{
    font-family:"DFKai-sb", Microsoft JhengHei;
    background-color:rgb(211, 211, 211);
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

 