body{
    padding-top: 150px;
}
.main-content{/*主要內容*/
    min-height: 100%;/*固定高度*/
    /*預留header、footer*/
    padding-top:50px;
    padding-bottom:20px;
    margin-left: 50px;
    font-size: 18px;
}